
/*** Base Styles ***/
.header1{
	height:25px;
	width: 83px;
	margin:0px;
	border:1px solid black;
	min-height: 1px; 
	box-sizing: border-box;
	position: absolute;
	right:0px;
	top:0px;
	color:black;
	background-color: beige;
	text-align: center;

}
.header2{
	height:25px;
	width: 83px;
	margin:0px;
	border:1px solid black;
	min-height: 1px; 
	box-sizing: border-box;
	position: absolute;
	right:0px;
	top:0px;
	color:white;
	background-color: red;
	text-align: center;
}
.header3{
	height:25px;
	width: 83px;
	margin:0px;
	border:1px solid black;
	min-height: 1px; 
	box-sizing: border-box;
	position: absolute;
	right:0px;
	top:0px;
	color:white;
	background-color: blue;
	text-align: center;
}
.text1{
	margin-top: 25px;
	overflow: auto;

}
body{
margin:0;
padding:0;
}
.row>div{
	background-color: grey;
	border:1px solid black;
	position: relative;
	min-height: 1px;
	padding-right:15px;
	padding-left:15px; 
	box-sizing: border-box;
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 5px;
}
/***desktop devices***/
@media (min-width: 992px){
	.col-lg-6{
	width:32%;
	float: left;
	}
}
/***medium devices***/
@media (min-width: 768px) and (max-width: 991px){
	.col-md-4{
	width:45%;
	float: left;
	}
	.c3{

		width:91.1%;
		float:left;
	}

}
/***small devices***/
@media (min-width: 1px) and (max-width: 767px){
	.col-sm-2{
	
	float:none;
}
}
